services:
  postgres:
    image: postgres:16.11-alpine3.22
    container_name: postgres
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tasks_db
    volumes:
      - postgres_data:/var/lib/postgresql/data:rw
    user: '70:70' # Postgres user
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'pg_isready -U postgres -d tasks_db -h localhost || exit 1',
        ]
      interval: 30s
      timeout: 10s
      retries: 5

#   pgadmin:
#     image: elestio/pgadmin:latest
#     container_name: pgadmin
#     restart: unless-stopped
#     ports:
#       - '5050:8080'
#     volumes:
#       - pgadmin_volume:/var/lib/pgadmin:rw
#     depends_on:
#       - postgres
#     networks:
#       - project_network

# networks:
#   project_network:
#     driver: bridge

volumes:
  postgres_data:
    driver: local
